* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/*barra de navegação*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  padding: 8px 14px;
  transition: background 0.3s ease, color 0.3s ease
}

.nav-links a.active {
  background: #86C5FF;
  border-radius: 5px;
  color: #fff;
}

.nav-links a:hover {
  background: #86C5FF;
  color: #fff;
}

/*intro*/

.intro {
  margin-top: 60px;
  height: 45vh;
  background: url("img/intro.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

/*about me*/

.about-hero {
  background-color: #ffffff;
  padding: 80px 80px 100px;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  gap: 60px;
}

/*foto*/

.about-photo img {
  width: 280px;
  border-radius: 10px;
  object-fit: cover;
}

/*texto*/

.about.text h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about.name {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 14px;
  max-width: 600px;
}

/*section 2*/

.about-info {
  padding: 90px 80px;
}

.info-grid {
  max-width: 1100px;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.info-block h3 {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 24px;
  
  background-color: #F8E6A0;
  font-size: 16px;
  margin-bottom: 16px;
}

.info-block p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 6px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background-color: #fff;
  padding: 7px 16px;
  border-radius: 20px;
  font-size: 13px;
}

/*responsividade*/
@media (max-widtg: 768px) {
  .about-hero {
    padding: 60px 30px;
  }
  
  .about-containetpr {
    flex-direction: column;
    text-align: center;
  }
  
  .about-photo img {
    width: 220px;
  }
  
  .about-info {
    padding: 70px 30px;
  }
}