 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/*barra de navegação*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
  padding: 8px 14px;
  transition: background 0.3s ease, color 0.3s ease
}

.nav-links a.active {
  background: #86C5FF;
  border-radius: 5px;
  color: #fff;
}

.nav-links a:hover {
  background: #86C5FF;
  color: #fff;
}

/*hero*/

.hero {
  margin-top: 60px;
  height: 45vh;
  background: url("img/hero.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

/*works*/

.works {
  width: 100%;
  height: 45vh;
  background: url("img/works.svg");
  background-repeat: no-repeat;
  background-position: center -40px;
  background-size: contain;
}

/*projects*/

.projects {
  padding: 80px 10% 40px;
  background: #fff;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  
  background: #F8E6A0;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 40px;
  
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.project-image {
  /*background: #f3c1d9;*/
  border-radius: 12px;
  min-height: 280px;
  background-image: url("img/canvalogo.jpg");
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 12px;
}

.btn.primary {
  background: #86C5FF;
  color: #fff;
}

/*cta*/

.projects-cta {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
}

.btn-more {
  padding: 12px 28px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  
  background: #86C5FF;
  color: #fff;
  
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-more:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(184, 74, 125, 0.3);
}

/*contact*/
.contact {
  width: 100%;
  height: 45vh;
  background: url("img/contact.svg");
  background-repeat: no-repeat;
  background-position: center -30px;
  background-size: contain;
}

@media (max-width: 900px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}

/*design-grafico-html*/

.project-title {
  display: block;
  padding: 8px 20px;
  border-radius: 20px;
  text-align: center;
  background-color: #F8E6A0;
  font-size: 15px;
  margin: 24px auto 24px;
}

.project-card2 {
  margin-top: 150px;
  max-width: 420px;
  margin: 80px auto 80px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.project-grid img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/*blender*/

.project-grid video {
  width: 100%;
  border-radius: 12px;
  background: #000;
}

/*contact*/

.contact-email {
  font-size: 14px;
  background-position: center;
}

.contact-email a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.contact-email a:hover {
  opacity: 0.6;
}